body {
    background-color: #f0f0f0;
    color: #000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

/* modo escuro */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.container {
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.layout {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-top: 20px;
}

/* bloco do cadastro */
.coluna-cadastro {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    position: sticky;
    top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body.dark-mode .coluna-cadastro,
body.dark-mode .card-item {
    background: #333;
    color: white;
    border: 1px solid #555;
}

.coluna-lista {
    flex-grow: 1;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#btn-enviar {
    background:rgb(21, 119, 12);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

/* estilo do card dinâmico */
.card-item {
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    text-align: left;
    border-left: 5px solid rgb(21, 119, 12);
}

.btn-remover {
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 4px;
}

.botao-flutuante {
    margin-bottom: 20px;
    padding: 15px;
    cursor: pointer;
    border-radius: 10px;
    background-color:#ccc
}